#restaurant-inspection {
  font-size: 12px;
  width: 500px;
  padding: 10px;
  text-align: center;
  overflow: scroll;
}

#restaurant-list {
  height: 500px;
}

nav {
  margin-bottom: 15px;
}

input {
  margin-right: 10px;
}

.table {
  margin-top: 10px;
}
